<!DOCTYPE html>
<html lang="en" xmlns:th='http://www.thymeleaf.org/'>
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method="post" action="/user">
    <label>Name
        <input type="text" name="username">
    </label>
    <label>Email
        <input type="email" name="email">
    </label>
    <label>Password
        <input type="password" name="password1">
    </label>
    <label>Re-enter Password
        <input type="password" name="password2">
    </label>
    <input type="submit" value="Input User">
</form>



</body>
</html>